.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  height: 100%;

  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .card {
    height: 60vh;
    border-radius: 0 20px 0 20px;

    .card-meta .ant-card-meta-title {
      white-space: normal; /* 允许文本换行 */
      word-wrap: break-word; /* 使长单词或 URL 也能换行 */
      overflow-wrap: break-word; /* 防止文本溢出 */
    }
  }


  .card-image {
    height: 40vh; /* 确保设置高度 */
    background-size: cover; /* 确保背景图像适应区域 */
    background-position: center; /* 将背景图片居中 */
    width: 100%; /* 确保宽度填满 */
    border-radius: 0 20px 0 20px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
  }

  .grid-item {
    position: relative;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    &:hover {
      opacity: 0.8;
    }

    .description {
      position: absolute;
      bottom: 10px;
      left: 10px;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      padding: 10px;
      border-radius: 5px;
      font-size: 1.2rem;
    }
  }
}
